<!DOCTYPE html>
<html>
  <head>
    <title>Create a Custom Madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Hello From Afar</h1>

    <p>A vacation is when you take a trip to some @Model.GetAdjectiveOne() place
with your @Model.GetAdjectiveTwo() family. Usually you go to some place
that is near a/an @Model.GetNounOne() or up on a/an @Model.GetNounTwo().
A good vacation place is one where you can ride @Model.GetPluralNounOne()
or play @Model.GetPluralNounTwo() or go hunting for @Model.GetGameOne(). I like
to spend my time @Model.GetVerbIngOne() or @Model.GetVerbIngTwo().
When parents go on a vacation, they spend their time eating
three @Model.GetPluralNounThree() a day, and fathers play golf, and mothers
sit around @Model.GetVerbIngThree(). Last summer, my little brother
fell in a/an @Model.GetNounThree() and got poison @Model.GetPlantOne() all
over his @Model.GetBodyPart(). My family is going to go to (the) @Model.GetPlaceOne(), and I will practice @Model.GetVerbIngFour(). Parents
need vacations more than kids because parents are always very
@Model.GetAdjectiveThree() and because they have to work @Model.GetNumberOne()
hours every day all year making enough @Model.GetPluralNounFour() to pay
for the vacation.
</p>
  </body>
</html>
