<!DOCTYPE html>
<html>
  <head>
    <title>My Best Friend</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My Best Friend</h1>
    <p>
    My best friend has the cutest @Model.BodyPartML2. I love to @Model.ActivityML2 with them. Their favorite food is @Model.FoodML2 and I love that too. Their favorite posession is a giant @Model.NounML2. I hate leaving them every morning before I go to @Model.PlaceML2. My best friend is my dog, @Model.NameML2.
    </p>
  </body>
</html>
